/* Coolors Exported Palette - coolors.co/f55d3e-a8d46d-45b69c-33658a-898d8c */

$white: rgba(255, 255, 255, 1);
$orange: rgba(245, 93, 62, 1);
$green-light: rgba(168, 212, 109, 1);
$green-dark: rgba(69, 182, 156, 1);
$blue: rgba(51, 101, 138, 1);
$gray: rgba(137, 141, 140, 1);
